@charset "utf-8";

/* common config */
* { margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif; font-size: 1em;}
a { text-decoration : none; color: inherit; }
a:hover {color: #111;}
ul, ol, li { list-style: none;}
table { 
    /* border-top: 0.15em solid #C65D7B;
    border-bottom: 0.15em solid #C65D7B; */
    border-collapse: collapse; 
    border-spacing: 0; 
    width: 100%;
    margin-bottom: 1rem;
    color: #353535;
    vertical-align: top;
    border-color: #C65D7B;
    font-size: 1em;
}

form table { width: 100%; }

table thead { 
    /* border-top: 0.05em solid #C65D7B;  */
    border-bottom: 0.05em solid #C65D7B; 
    /* background: linear-gradient(to right, #F68989, #fff);  */
    background: #f6e7d8;
}
table thead tr th { padding: 0.2em 0.5em; height: 2.5em; font-weight: 800; color: #C65D7B; text-align: center;}
table tbody tr { border-bottom: 0.01em dotted #F68989; } 
table tbody tr th { padding: 0.2em 0.5em; height: 2.5em; text-align: center;}
table tbody tr td { padding: 0.2em 0.5em; height: 2.5em; /* border-left: 0.01em dotted #F68989 */}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
pre{
    padding:10px;
    overflow: auto;
    white-space: pre-wrap; 
    font-size: 1em;
    font-family: 'Nanum Gothic', sans-serif;
}  

/* pallette */
/* 클래스 자체를 사용하기 보다는, 색상 적용 필요시 이 코드를 사용합니다. */

.red { color : #8d2424 }
.black { color : #353535; }
.gray { color : #dddddd; }
.white { color : #EEEEEE }

.deepfont { color : #1A132F; }

/* main color */
.darkpink1 { color: #874356; }
.darkpink2 { color: #C65D7B; }
.darkpink3 { color: #F68989; }
.dakrpink3 { color: #F6E7D8; }

/* etcColor */
.brightblue { color : #61A4BC }
.pinkpoint { color : #F7E2E2 }
.formBorder { color: #ced4da }

/* 컨텐츠 구역 */
.conBorder {
    box-sizing: border-box;
    border: 0.12em solid #ddd;
    margin: 0.3em 0.1em;
}
.conTitleArea { border-bottom: 2px solid #eee; margin-bottom: 1em; box-shadow: 0 2px 0 0px #F68989;} 
.conTitleArea .conTItle {
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 0.3em; 
    margin-bottom: 0.3em;
    font-weight: 800;
    font-size: 1.5em;
    color : #C65D7B;
}

/* 버튼 class. 글씨 크기, 패딩 등은 각 클래스에 알아서 지정*/
.btnBasic {
    border-radius:0.3em;
    font-weight: bold; 
    background: #C65D7B;
    border: 1px solid #8d2424;
    color: #EEEEEE;
    cursor: pointer;
    text-align: center;
}
.btnBasic:hover {background: #8D2424; transition: 0.5; }

.btnGray {
    border-radius:0.3em;
    font-weight: bold; 
    background: #788A9E;
    border: 1px solid #353535;
    color: #EEEEEE;
    cursor: pointer;
    text-align: center;
}
.btnGray:hover { background: #353535; transition: 0.5; }

.btnMin {
    width: 20%;
    display: inline-block;
}

.formTable {
    margin: 0.5em 1.5em;
}

.searchTable {
    margin: 0.5em 1.5em;
    border-top: 0.15em solid #eee;
    border-bottom: 0.15em solid #eee;
}
.searchTable table { border: none; }

.formTitleArea { padding: 0.4em 0; box-sizing: border-box; border-bottom: 0.15em solid #C65D7B; margin-bottom: 0.5em; }
.formTitleArea .formTitle { font-size: 1.2em; font-weight: 600; height: inherit;} 
.formTitle span { 
    width: 100%;
    padding: 0.3em 1.2em 0.5em 0.4em; 
    border-radius: 5px 20px 0 0;
    box-sizing: border-box;
    border-top: 0.15em solid #C65D7B;
    border-right: 0.15em solid #C65D7B;
    border-left: 0.15em solid #C65D7B;
    border-bottom: 0.19em solid white;
    /* background: #F68989; */
    color : #C65D7B; 
}

.divBorder { border-bottom: 1px dotted #F6E7D8; padding: 0.25em 0; }
.divdeepBorder { border-bottom: 1px solid #F6E7D8; padding: 0.25em 0; }

.inputTitle { width: 17%; height: 2.5em; font-size: 1em; text-align: center; font-weight: 700; color: #C65D7B; padding: 0.5em 0.9em 0.7em 1em; float: left;}
.inputSec { width: 83%; padding: 0.2em 0.5em; float: left; border-left: 1px dotted #F68989; }
.inputSubmit { 
    width:100%; 
    font-size:1em;
    padding: 0.3em 0.5em; 
}
.formEndBorder { border-bottom: 2px solid #C65D7B; padding: 0.5em 0;}

.boardSearchBar { background: #F68989; border-radius: 10px; padding: 0.5em 0; }

.pageList { text-align: center;}
.pageList li { display: inline-block; font-size: 1.3em; color: #353535; cursor: pointer; margin: 0 0.7em;}
.pageList li.pageNow { font-weight: bold; color: #C65D7B; background: #F68989; border-radius: 10px; padding: 0 0.5em; }

.detailSec {padding: 0.3em 0.8em; }
.detTitle { font-weight: 800; font-size: 1em; }
.replyWriter {  background: #F68989; font-weight: 800; text-align: center;}
.replyDate { text-align: right;}
.dashedRightBorder { border-right:0.01em dashed #F68989 }
.replyBtns { padding: 1em; }
.replyBtn { display: inline-block; width: 2.5em; }
.replyDate { font-weight: 800; }
.gotoList {
    width:100%; 
    font-size:1em;
    padding: 0.3em 0.5em; 
}
.pdfImg {height: 32px;}