@charset "utf-8";

/* https://moderncss.dev/ 참조 */

input[type="text"] {
    display: block;
    width: 100%;
    height: 2.2em;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #353535;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}

input[type="text"]:focus { 
    outline: none !important;
    border-color: #11468F;
    box-shadow: 0 0 5px #788A9E;
}
input[type="text"]:enabled {}
input[type="text"]:disabled {
    color: #ced4da;
    background: #eee;
    cursor: not-allowed;
}

input[type="password"] {
    display: block;
    width: 100%;
    height: 2.2em;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}

input[type="password"]:focus { 
    outline: none !important;
    border-color: #11468F;
    box-shadow: 0 0 5px #788A9E;
}
input[type="password"]:enabled {}
input[type="password"]:disabled {
    color: #ced4da;
    background: #eee;
    cursor: not-allowed;
}

input[type="date"] {
    display: block;
    width: 100%;
    height: 2.2em;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}

input[type="date"]:focus { 
    outline: none !important;
    border-color: #11468F;
    box-shadow: 0 0 5px #788A9E;
}
input[type="date"]:enabled {}
input[type="date"]:disabled {
    color: #ced4da;
    background: #eee;
    cursor: not-allowed;
}

select {
    display: block;
    width: 100%;
    height: 2.2em;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #353535;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}

select::-ms-expand {}

select:focus {
    outline: none !important;
    border-color: #11468F;
    box-shadow: 0 0 5px #788A9E;
}

select:disabled{
    color: #ced4da;
    background: #eee;
    cursor: not-allowed;
}

select option {
    display: block;
    width: 100%;
    height: 2.2em;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #353535;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}


label {padding: 0 0.7em; color: #353535;}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: #ced4da;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: inline-flex;
    /* display: grid; */
    margin-top: 0.5em;
    place-content: center;
  }
  
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.8em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 40%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: #11468F;
}
  
input[type="checkbox"]:checked::before { transform: scale(1); } 
input[type="checkbox"]:focus {
    outline: none !important;
    border-color: #11468F;
    box-shadow: 0 0 5px #788A9E;
}
  
input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: #ced4da;
    background: #eee;
    cursor: not-allowed;
}

input[type="radio"]{
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: #ced4da;
    width: 1.19em;
    height: 1.19em;
    border: 0.1em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: inline-flex;
    padding-top: 0.135em;
    /* display: grid; */
    margin-top: 0.55em;
    place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.78em;
  height: 0.75em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before { transform: scale(1); background-color: #11468F;}
input[type="radio"]:focus{ 
    /* outline: max(2px, 0.15em) solid currentColor; outline-offset: max(2px, 0.15em); */ 
    outline: none !important;
    border-color: #11468F;
    box-shadow: 0 0 5px #788A9E;
}
input[type="radio"]:disabled{
    --form-control-color: var(--form-control-disabled);
    color: #ced4da;
    background: #eee;
    cursor: not-allowed;
}

textarea {
    display: block;
    width: 100%;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #353535;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}

textarea:focus {
    outline: none !important;
    border-color: #11468F;
    box-shadow: 0 0 5px #788A9E;
}

textarea:disabled {
    color: #ced4da;
    background: #eee;
    cursor: not-allowed;
}

input[type="file"] {
    display: block;
    width: 100%;
    height: 2.2em;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #353535;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer; 
}